body{
	font-family: 'Lato';
    font-size: 200%;
    color: #444;
}
@media (max-width: 600px) {
  body{
	font-size: 140%;
  }
}

h1{
  /*color: #222;*/
	font-size: 2em;
  margin: 0 10px 25px 10px;
}
.title{
	font-weight: bold;
	margin: 1em 0;
}
.first-row{
  background: url('../img/bgbanner.jpg') no-repeat fixed;
  background-size: 130%;
  background-position: center;
  padding: 2em 0;
}
.first-row.institution{
  background: url('../img/bg-institution.jpg') no-repeat fixed;
}
.btn-success{
	font-size: 1.1em;
}

#form-subscribe{
  background-color: #fff;
  border-radius: 5px;
  font-size: 90%;
}
#form-subscribe .title{
  font-size: 1.2em;
}
/* HEADER */
nav{
	padding: 10px 0;
}
.contact span{
  font-size: 0.8em;
  margin-right: 20px;
}
.logo{
	width: 50px;
}

/* END HEADER */

.advantages{
	background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
}
.gif-texto{
  margin-top: 2em;
}

.carreiras{
    list-style: none;
}
.courses-tree{
	font-size: 4em;
}

.bg-lua{
	background: url('../img/stardust.png') fixed;
	color: #fff;
	padding-top: 1.5em;
/*	position: relative;*/
}
.bg-lua p{
  font-size: 2em;
}
/* awards*/

.awards{
	background: url('../img/congruent_pentagon.png') fixed;
	border-radius: 8px;
	padding: 1em 0;
	margin: 1em 0;
}

/* success-banner */
.success-banner{
	background-color: #5d8ecb;
	border-radius: 5px;
	color: #FFF;
	margin-bottom: 1em;
}
.enroll{
	padding-bottom: 1em;
}
.enroll i{
	display: inline-block;
	margin-left: 5px;
}
.proficiency{
  margin: 2em 0;
}
/* footer */
footer{
	border-top: 1px solid #ddd;
	color: #666;
	font-size: 15px;
	padding: 1em 0;
}
footer h3{
	font-size: 18px;
}
.nav-social-icons li{
    list-style: none;
    display: inline-block;
	margin: 10px;
    font-size: 1.2em;
}
.nav-social-icons li a{
	color: #FFF;
	background-color: #222;
	border-radius: 50%;
	display: block;
	width: 1.5em;
	height: 1.5em;
}
.nav-social-icons li a:hover{
	background-color: #888;
}
.credits{
  font-size: 0.8em;
}
